:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}

header,
main {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

header img {
    width: 130px;
    height: auto;
    margin-bottom: 2px;
}

header nav a {
    display: block;
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

nav {
    margin: 16px;
    padding: 8px;
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.socialmedia img {
    width: 35px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img:hover {
    transform: scale(1.1);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.7);
    color: #fff;
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    bottom: 20px;
    padding: 15px;
    left: 5%;
    right: 5%;
    background-color: rgb(38, 34, 98, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    border: 2px solid var(--primary-color);
}

.hero article p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

nav ul {
    list-style-type: disc;
    padding-left: 20px;
}

nav ul li {
    margin: 4px 0;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: normal;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 0;
    padding: 0;
}

.section-title {
    background-color: #262262;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

section h2 {
    background-color: #051c33;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0 0 0;
    font-family: var(--heading-font);
    font-size: 1.3rem;
}

footer {
    background-color: #fff;
    color: var(--accent1-color);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 840px;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 0.9rem;
}